.blend {
  height: 100vh;
  display: flex;
}

.blend img {
  height: 90%;
  width: 99%;
  position: absolute;
  filter: contrast(1.2);
}

.blend h1 {
  font: 800 5rem "montserrat";
  color: #FFFFFF;
  mix-blend-mode: overlay;
  margin: 25px;
}